body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
    display: block;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center; /* Header'ı ortala */
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    flex-direction: column; /* Dikey hizalama */
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px; /* Logoyu karanlık moddan ayır */
}

.dark-mode-container {
    display: flex;
    justify-content: center; /* Karanlık modu ortala */
}

.dark-mode-toggle {
    cursor: pointer;
}

.category {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    overflow: hidden;
}

.category:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
}

.category-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.category-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.category-icon {
    font-size: 1.5rem;
    color: #666;
}

.category-content {
    padding: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    color: #666;
}

.category-content.show {
    max-height: 400px;
}

.card {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Sosyal Medya Butonları */
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icon {
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
    margin: 0 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.social-icon:hover {
    transform: scale(1.1);
}

.social-icon i {
    font-size: 1.5rem;
    color: #333;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #222;
    color: #fff;
}

.category.dark-mode {
    background-color: #333;
}

.category-title.dark-mode {
    color: #fff;
}

.category-icon.dark-mode {
    color: #fff;
}

.card.dark-mode {
    background-color: #333;
    color: #fff;
}

.card-title.dark-mode {
    color: #fff;
}

.header.dark-mode {
    border-bottom: 1px solid #555;
}

.social-icon.dark-mode {
    background-color: #333;
}

.social-icon i.dark-mode {
    color: #fff;
}
